<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated studyprograms -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="studyprograms.presentation.StudyprogramsModelWizardID"
            name="%_UI_StudyprogramsModelWizard_label"
            class="studyprograms.presentation.StudyprogramsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StudyprogramsModelFile.gif">
         <description>%_UI_StudyprogramsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated studyprograms -->
      <editor
            id="studyprograms.presentation.StudyprogramsEditorID"
            name="%_UI_StudyprogramsEditor_label"
            icon="icons/full/obj16/StudyprogramsModelFile.gif"
            extensions="studyprograms"
            class="studyprograms.presentation.StudyprogramsEditor"
            contributorClass="studyprograms.presentation.StudyprogramsActionBarContributor">
      </editor>
   </extension>
</plugin>
